<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>326096806777-sso6a8mvn022prfrnlm23r3a81rfa0sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326096806777-sso6a8mvn022prfrnlm23r3a81rfa0sr</string>
	<key>API_KEY</key>
	<string>AIzaSyBFe8oeo0Jvj1c2etNLBa0rhFdxNuGAjSY</string>
	<key>GCM_SENDER_ID</key>
	<string>326096806777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.gameaz.whatsword</string>
	<key>PROJECT_ID</key>
	<string>what-s-word</string>
	<key>STORAGE_BUCKET</key>
	<string>what-s-word.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326096806777:ios:d54a3c287659c9ea</string>
	<key>DATABASE_URL</key>
	<string>https://what-s-word.firebaseio.com</string>
</dict>
</plist>